/* ================================================================================================== */
/* FONT STUFF */
/* ================================================================================================== */

@font-face {
    font-family: 'Miso Light';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Light'), url('miso-light.woff') format('woff');


}


@font-face {
    font-family: 'Miso';
    font-style: normal;
    font-weight: normal;
    src: local('Miso'), url('miso.woff') format('woff');
}


@font-face {
    font-family: 'Miso Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Miso Bold'), url('miso-bold.woff') format('woff');
}


@font-face {
    font-family: 'nexa_lightregular';
    src: url('Nexa_Free_Light-webfont.eot');
    src: url('Nexa_Free_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Nexa_Free_Light-webfont.woff2') format('woff2'),
         url('Nexa_Free_Light-webfont.woff') format('woff'),
         url('Nexa_Free_Light-webfont.ttf') format('truetype'),
         url('Nexa_Free_Light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



/* ================================================================================================== */
/*  BODY STUFF. WILL BE APPLIED TO ALL THINGS UNLESS OTHERWISE SPECFIEID*/
/* ================================================================================================== */
body{
    width: 100%;
    margin: 0px;
    font-family: "Miso Light";
    background-image: url("background.jpg");
    background-repeat: no-repeat;
	background-size: cover;
}



/* ================================================================================================== */
/* CALENDAR PAGE STYLING */
/* ================================================================================================== */
.fc-bg td{
/* Code for each individual date box. */
}

#calendar{
   width: 75%;
    position: absolute;
    float: left;
/*  */
}

.menu-container{
    position: absolute;
    right: 0px;
    width: 20%;
}
.newFile{
    position: absolute;
    right: 0%;
    top: 40%;
    width: 20%;
}

.everythingButNewFileForm{
    /*opacity: 0.4;!important;*/
}

.newFile{
	display: block;
	border: 1px black solid;
	position: absolute;
	right: 35%;
	background-color:rgba(51,51,51,0.8);
	padding: 5%;
	top: 30%;
	
}


/* ================================================================================================== */
/* STYLING FOR LOGIN PAGE  */
/* ================================================================================================== */
form.homepage-loginform {
	padding-left: 50px;
	text-align: left;
	padding-top: 0px;
	float: none;
	margin-left: 70%;
	background-color: #333;
	margin-top: 10px;
	padding-top: 20px;
	padding-right: 70px;
	padding-bottom: 50px;
	-webkit-box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.6);
	box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.6);
	-o-box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.6);
}

#header-logos{
    float: left;
    color: transparent;!important;
    background-image: url("etaoin.png");
    background-size: contain;
    margin-left: 1%;
    width: 200px;
    height: 200px;
	position:absolute;
    margin-top: 0px;
    background-repeat: no-repeat
}
.homeheader{
    width: 100%;
    background-color: transparent;
    height: 75px;
    position: fixed;
    top:0px;
}

#homepage-container{
    margin-top: 15%;
    margin-left: 25%;
    text-align: center;
    height: 500px;
    /* width: 50%; */
    background-color: transparent;
}
#newprofile{
    margin-top: 15%;
    margin-left: 25%;
    text-align: center;
    height: 500px;
    width: 50%;
    background-color: rgba(53, 50, 51, 0.5);
}

#homepage{
margin: 0px;

background-repeat: no-repeat;
background-size: cover;
}



#homepage-LoginHeader{
margin-bottom: 40px;
text-transform: uppercase;
color: white;
font-family: "Miso Light";
letter-spacing: 1px;
}

#id_username{
	background: none;
border: none;
border-bottom: 2px solid white;
font-size: small;
overflow: auto;
width: 60%;
float:left;
}

#id_password {
	background: none;
	border: none;
	border-bottom: 2px solid white;
	font-size: small;
	overflow: auto;
	width: 80%;
	float: left;
}

#loginbutton {
	text-transform: uppercase;
	background-color: rgba(131, 100, 171, 1.0);
	border: none;
	padding: 10px 30px;
	color: white;
	overflow: auto;
	font-family: "nexa_lightregular";
	font-size: 10px;
	letter-spacing: 1px;
	margin-top: 50px;
}

#loginbutton:hover{
	cursor:pointer;
}
/* ================================================================================================== */



/* ================================================================================================== */
/* STYLING FOR THE EVENT POPUP THING */
/* ================================================================================================== */
.ui-dialog{
	z-index: 1251;
	background-color:red;
}



/* ================================================================================================== */
/* CODE FOR THE SIDEBAR */
/* ================================================================================================== */
#classes-header{
	color: white;
}
.classroomclass{
	color: white;
}

.settings-container{
   float: left;
	margin-left: -500px;
	/*uncomment that ^ in order to move it off screen*/
	position: absolute;
	height: 100%;
	width: 17%;
	background-color: #2a2527;
	margin-top: 82px;
	z-index: 15252;
}

.navbar-items{
    display: inline;

}

#navbar_classname{
    text-align: center;
}

#navbar_settings{
    float: left;
    color: transparent;!important;
    background-image: url("menuButton.png");
    background-size: contain;
    margin-left: 1%;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}


#navbar{
    background-color: #2a2527;
    width: 100%;
    height: 70px;
    color: white;
    position: relative;
    top: -8px;
    left: -8px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 20px;
}

#navbar_range,#navbar_scoolyear{
    padding-bottom: 0px;
    padding-left: 0px;
    top:47%;
    position: absolute;
}
#navbar_range{
    right: 15%;
}

#navbar_scoolyear{
    right: 10%;
}
#selectbutton{
	padding-top: 5px;
    padding-right: 7.5px;
    padding-bottom: 5px;
    padding-left: 7.5px;
    background-color: #20bcfb;  
    border-style: solid;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: blue;
}
#selectbutton:hover{
	background-color: #2195d9;
	border-style: solid;
    border-width: 1.5px;
    border-color: #220efe;
}
/* #viewQ{
	padding-top: 5px;
    padding-right: 7.5px;
    padding-bottom: 5px;
    padding-left: 7.5px;
    background-color: #20bcfb;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: blue;
	
}
#viewQ:hover{
	background-color: #2195d9;
	border-style: solid;
    border-width: 1.5px;
    border-color: #220efe;

} */
/* ================================================================================================== */








/* ================================================================================================== */
/* ANDY'S CODE FOR SUBMISSIONS QUERY BUTTONS */
/* ================================================================================================== */
/* #logout{
	padding-top: 5px;
    padding-right: 7.5px;
    padding-bottom: 5px;
    padding-left: 7.5px;
    background-color: #20bcfb;
    float: right;
    display: inline-block;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: blue;

}
#logout:hover{
	background-color: #2195d9;
	border-style: solid;
    border-width: 1.5px;
    border-color: #220efe;
    } */

/* #reset{
	padding-top: 5px;
    padding-right: 7.5px;
    padding-bottom: 5px;
    padding-left: 7.5px;
    background-color: #20bcfb;  
    float: right;
    display: inline-block;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 3px;
    border-color: blue;
    
}
#reset:hover{
	background-color: #2195d9;
	border-style: solid;
    border-width: 1.5px;
    border-color: #220efe;
} */
/* ================================================================================================== */
/*Button class*/
/*=================================================================================================== */
.side_button{
	width: 99%;
	height: 35px;
	background: transparent;
	color: white;
	font-family: "Miso Light";
	font-size: 1.5em;
	border: none;
	/* background-color: rgba(0,0,0,0.0);!important */
	 	
}
.side_button:hover{
	border-color: white;
	border-width: 2px;
	border-style: solid;
	background-color:rgba(0,0,0,0.5);!important
}





